/*
p {
	color:red;
	font-size:20px;
	background-color:#FFFF00;
}
*/
h1 {
	color:blue;
}
.chudo{
color:red;
}
.chuxanh {
color : blue;
}
.bigsize{
font-size : 50px;
}
#Hfun{
color: red;
}
.demo-text-css{
	text-align:justify; /* Canh đều hai bên*/
	color:red; 
	background-color: black;
	text-indent: 20px; /*khoảng cách đầu dòng*/
	text-transform: capitalize; /* Định dạng chữ hoa, thường ..*/
	font-size: 14pt;
	font-family: sans-serif;
	font-style: italic; /* In nghieng*/
	font-weight: bold;  /* In đậm*/
	text-decoration: overline; /*Trang trí gạch chân*/
	/*padding: 100px; /*Canh lề thành phần bên trong*/
	padding-left: 100px;
	padding-right: 50px;
	padding-top: 10px;
	padding-bottom: 20px;
	/*padding: 10px 50px 20px 100px; top right bottom left */
	padding : 50px 100px; 
	margin: auto; /*Canh lề với thành phần bên ngoài */
	width: 200px;
	/*Kẻ khung cho thanh phan*/
	border-top-style: dashed;
	border-bottom-style: ridge;
	border-left-style: dotted;
	border-right-style: solid;
	border-top-color: blue;
	border-top-width: 1px;

	border-style: solid dashed double inset;
	border-color:red green blue yellow;
	border-width: 1px 2px 3px 4px;

	border-top:red thin double;
}
.pic{
	border: solid red thin;
	margin: 20px;
	padding:50px;
}
@keyframes example { /*Kich ban animation*/
    from {background-color: red;}
    to {background-color: yellow;}
}

/* The element to apply the animation to */
#ani-demo {
    width: 100px;    height: 100px;    background-color: red;
    animation-name: example;
    animation-duration: 4s;
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
 }
#ani-demo:hover{
	width: 300px;
}
a:visited{
	color:#70DB70;
}
a:link{
	color:blue;
	text-decoration: none;
}
a:active{
	color:blue;
	text-decoration: none;
}
a:hover{
	color:red;
	font-size: 110%;
	font-style: italic; 
}
p:first-letter{
	font-size: 500%;
	font-weight: bold;
}
#p1{
	margin: 100px auto 0px;
	background-color: #FF66FF;
	width: 400px;
	height: 300px;
	/*Change background image*/
	background-image: url("images/img_flwr.gif");
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 100px;
}
#p1:hover{
	background-color: red;
	-webkit-transition: background-color 3s linear; /* Safari */
    transition: background-color 3s linear;
    border: thin black solid;
    border-radius:10px;
}
/*
header, nav, section, aside, footer{
	border-bottom: thick blue solid;
}
*/
nav {
	background-color: blue;
	margin-top: -20px;
}
nav ul{
	list-style-type: none;
	padding-top: 10px ;
	padding-bottom: 10px;
}
nav li{
	display: inline;
	padding: 10px 30px;
}
nav a{
	color:white;
}
nav a:hover{
	background-color: green ;
	font-size: 100%;
	font-style: normal;
}
nav li:hover{
	background-color: green ;
}

.img-sv{
	width: 200px;
}
.div-product{
	border:1px solid #dddddd;
	width: 200px;
	height: 300px;
	text-align: center;
	float:left;
	margin-right: 20px;
	margin-bottom: 20px;
}
footer{
clear:both;
}
#div-absolute{
	position: absolute;
	top:10px;
	right: 50px;
	background-color: #dddddd;
	width: 300px;
	height: 80px;
	border: 1px black solid;
}
#div-fix{
	position: fixed;
	right: 30px;
	bottom: 30px;
	width: 100px;
	height: 40px;
	background-color: pink;
	border: red thick double;
}
#content-relative{
	border:blue thin dotted;
	height: 200px;
	float:left;
	width: 100%;
}
#div-relative1{
	border:blue thin solid;
	border-radius: 10px;
	height: 100px;
	position: relative;
	top:50px;
	left: 50px;
	width:300px;
	background-color: red;
}
#div-relative2{
	border:blue thin solid;
	border-radius: 10px;
	height: 100px;
	position: relative;
	top:-50px;
	left: 250px;
	width:300px;
	background-color: green;
	opacity: 0.5;/* dô trong suot*/
}
#div-relative3{
	border:blue thin solid;
	border-radius: 10px;
	height: 100px;
	position: relative;
	top:-150px;
	left: 450px;
	width:300px;
	background-color: blue;
	z-index: -1; /* Vị trí của khói*/

}

table#tb-list-class{ /*Thành phần table có id là tb-list-class*/
	font-family: tahoma;
	border-spacing: 0px; /*Định không gian giữa các cell*/
	border-top: 1px solid blue;

	border-left: 1px solid blue;
}
table#tb-list-class td,th{
	border-right: 1px solid blue;
	border-bottom: 1px solid blue;
	text-align: center;
}
table#tb-list-class .align-left{
	text-align: left;
	padding-left: 3px;
}
table#tb-list-class th{
	background-color: #dddddd;
}

